.slides__cover-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.slides.dark .slides__cover-image {
  opacity: 1;
  filter: brightness(0.5);
}
