.slides.dark.notion-frame {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #05080d !important;
}

.slides.notion-frame {
  background-color: white !important;
}

.slides #slide-inner {
  width: 90% !important;
  max-width: 800px !important;
  margin: 0 auto !important;
  padding-bottom: 10vh !important;
  padding-left: calc(0px + env(safe-area-inset-left)) !important;
  padding-right: calc(0px + env(safe-area-inset-right)) !important;
}

.slides > div > div {
  max-width: 100% !important;
}

/* animate slides */
.slides.notion-frame .appear {
  opacity: 0;
  transform: translateX(-10px);
  animation: appear 0.3s ease-in-out forwards;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
