.slides {
  --font-family: "Ubuntu", "PT Sans", "Helvetica", sans-serif;
  letter-spacing: 0.03em;
}

/* h1 */
.slides:has([placeholder="Heading 1"]) {
  text-align: center !important;
}

.slides [placeholder="Heading 1"] {
  font-size: 3em !important;
  line-height: 1 !important;
  font-family: var(--font-family) !important;
}

.slides [placeholder="Heading 1"]::after {
  display: block !important;
  content: "";
  width: 1.25em !important;
  height: 0.125em !important;
  background: var(--primary);
  border-radius: 4em !important;
  margin: 0.225em auto 0.3875em !important;
}

/* h2 */
.slides [placeholder="Heading 2"] {
  font-size: 1em !important;
  margin-bottom: 0em !important;
  line-height: 1.6 !important;
  font-family: var(--font-family) !important;
}

.slides [placeholder="Heading 2"]::after {
  content: "";
  display: block;
  background: var(--primary);
  height: 0.2em;
  width: 1.875em;
  border-radius: 10px;
  margin-top: 0.3125em;
  margin-bottom: 0.875em;
}

/* p */
.slides .notion-text-block > div > div > div {
  font-size: 1.125em !important;
  line-height: 1.6 !important;
  margin-inline: 0 !important;
  font-family: var(--font-family) !important ;
}

/* sub h1 p */
.slides .notion-header-block + .notion-text-block > div > div > div {
  font-family: "IBM Plex Mono", "American Typewriter", monospace !important;
}

/* list */
.slides
  .notion-bulleted_list-block.appear
  + .notion-bulleted_list-block.appear {
  margin-top: 1.5em !important;
}

.slides .notion-bulleted_list-block.appear [placeholder="List"] {
  font-size: 1.375em !important;
  line-height: 1.2 !important;
  font-family: var(--font-family) !important;
}

.slides .notion-bulleted_list-block .notion-text-block {
  font-size: 1em !important;
  line-height: 1.4 !important;
  opacity: 0.7;
}

.slides .notion-bulleted_list-block > div > div:nth-child(1) div::before {
  content: "";
  display: inline-block;
  width: 0.3375em !important;
  height: 0.3375em !important;
  border-radius: 50%;
  background-color: var(--primary);
  border: 2px solid black;
  margin-right: 0.625em;
  display: block !important;
}

/* sub list item */
.slides .notion-bulleted_list-block .notion-bulleted_list-block {
  font-size: 0.8em !important;
  opacity: 0.8;
}

.slides
  .notion-bulleted_list-block
  .notion-bulleted_list-block
  > div
  > div:nth-child(1)
  div::before {
  background-color: transparent;
  border: 2px solid var(--primary);
}
