:root {
  /* Dark */
  --dark-hue: 253;
  --dark: hsl(var(--dark-hue), 24%, 10%);
  --dark-1: hsl(var(--dark-hue), 24%, 14%);
  --dark-2: hsl(var(--dark-hue), 24%, 18%);
  --dark-3: hsl(var(--dark-hue), 24%, 22%);
  --dark-4: hsl(var(--dark-hue), 24%, 26%);
  --dark-5: hsl(var(--dark-hue), 24%, 30%);
  /* Primary */
  --primary-hue: 132;
  --primary: hsl(var(--primary-hue), 70%, 65%);
  --primary-1: hsl(var(--primary-hue), 70%, 55%);
  --primary-2: hsl(var(--primary-hue), 70%, 45%);
  --primary-3: hsl(var(--primary-hue), 70%, 35%);
  --primary-4: hsl(var(--primary-hue), 70%, 25%);
  --primary-5: hsl(var(--primary-hue), 70%, 15%);

  /* colors */
  --pink: hsl(326, 100%, 74%);
  --green: #29e0a9;
  --purple: hsl(253, 35%, 66%);
  --purple-dark: hsl(257, 26%, 40%);
  --yellow: hsl(55, 70%, 69%);
  --blue: hsl(189, 64%, 68%);
  --white: hsl(240, 9%, 89%);
  --orange: hsl(26, 74%, 65%);
  --red: #ff5c39;
}

body.dark #notion-app .notion-sidebar {
  background-color: var(--dark-1) !important;
  color: #fff !important;
}

body.dark .notion-scroller > div:nth-child(1) {
  color: #eee !important;
}

body.dark
  #notion-app
  > div
  > div
  > div.notion-sidebar-container
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(1),
body.dark
  #notion-app
  > div
  > div
  > div.notion-sidebar-container
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(5)
  > div:nth-child(1)
  > span
  > div
  > div
  > div:nth-child(2),
body.dark .notion-topbar {
  color: #fff !important;
  background-color: var(--dark-1) !important;
  border-bottom: 1px solid var(--primary-4);
}

body.dark .notion-frame .notion-selectable a {
  background: rgb(43, 43, 43) !important;
}

body.dark
  div.notion-overlay-container.notion-default-overlay-container
  > div:nth-child(2)
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(3) {
  background: transparent !important;
}

/* scrollbar */

body.dark .notion-scroller::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: var(--dark-1);
}

body.dark .notion-scroller::-webkit-scrollbar * {
  background: transparent;
}

body.dark .notion-scroller::-webkit-scrollbar-thumb {
  background: var(--primary-2) !important;
  cursor: pointer;
  border-radius: 1.6rem;
}

body.dark .notion-scroller::-webkit-scrollbar-track {
  background: var(--dark-1);
}

body.dark #notion-app .notion-topbar > div > div:nth-child(2) {
  display: none !important;
}

/* links clickable */

body.dark .notion-frame .notion-selectable a {
  background: var(--dark-1) !important;
}

/* help button */

body.dark
  #notion-app
  > div
  > div.notion-cursor-listener
  > div.notion-help-button {
  background: var(--dark-1) !important;
}

body.dark .notion-frame,
.notion-cursor-listener,
/* float page */
body.dark .notion-peek-renderer>div>div,
/* every style that has rgb(47, 52, 55) as bg */
[style*='rgb(47, 52, 55)'],
[style*='background: rgb(32, 32, 32)'],
[style*='background: rgb(25, 25, 25)'] {
  background: var(--dark-1) !important;
}

/* when hovering some elements */
[style*="rgb(71, 76, 80)"] {
  background: var(--dark-3) !important;
}

/* floating menu * floating options */
body.dark div[style*="rgb(55, 60, 63)"],
body.dark div[style*="rgb(63, 68, 71)"] {
  background-color: var(--dark-1) !important;
}

/* code block */
body.dark .notion-code-block {
  background: var(--dark) !important;
}

body.dark .notion-code-block .token.keyword,
body.dark .notion-code-block .token.operator,
body.dark .notion-code-block .token.unit,
body.dark .notion-code-block .token.tag,
body.dark .notion-code-block .token.selector,
body.dark .notion-code-block .token.important {
  color: var(--pink);
}

body.dark .notion-code-block .token.property {
  color: var(--purple);
}

body.dark .notion-code-block .token.comment {
  color: var(--purple-dark);
}

body.dark .notion-code-block .token.variable {
  color: var(--white);
}

body.dark .notion-code-block .token.parameter {
  color: var(--orange);
}

body.dark .notion-code-block .token.function,
body.dark .notion-code-block .token.attr-name,
body.dark .notion-code-block .token.punctuation.attr-equals {
  color: var(--green);
}

body.dark .notion-code-block .token.number {
  color: var(--blue);
}

body.dark .notion-code-block .token.string,
body.dark .notion-code-block .token.attr-value {
  color: var(--yellow);
}

/* colors */
body [style*="209, 87, 150"],
body [style*="193, 76, 138"],
body [style*="223, 132, 209"] {
  color: var(--pink) !important;
}

body [style*="223, 84, 82"],
body [style*="212, 76, 71"] {
  color: var(--red) !important;
}

body [style*="68, 131, 97"],
body [style*="82, 158, 114"],
body [style*="113, 178, 131"] {
  color: var(--green) !important;
}

body [style*="217, 115, 13"],
body [style*="199, 125, 72"],
body [style*="217, 133, 56"] {
  color: var(--orange) !important;
}

body [style*="201, 145, 38"],
body [style*="203, 145, 47"],
body [style*="202, 152, 73"] {
  color: var(--yellow) !important;
}

body [style*="51, 126, 169"],
body [style*="94, 135, 201"],
body [style*="102, 170, 218"] {
  color: var(--blue) !important;
}

body [style*="144, 101, 176"],
body [style*="157, 104, 211"],
body [style*="176, 152, 217"] {
  color: var(--purple) !important;
}

.notion-topbar > div:first-child {
  -webkit-app-region: drag;
}

.notion-topbar > div:first-child * {
  -webkit-app-region: no-drag;
}

[style*="background: rgb(37, 37, 37)"] {
  background: #31313f !important;
}
