#window-controls-wrapper{
    position: fixed;
    background-color: #000;
    height: 35px;
    top: 0;
    right: 0;
    display: flex;
    z-index: 100;
    margin-top: -35px;
    transition: 300ms;
}

#window-controls-wrapper[data-platform = "darwin"]{
    top: 0;
    left: 0;
    right: auto;
    height: 25px;
    width: 70px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#window-controls-wrapper[data-platform = "darwin"].active{
    top: 5px;
    left: 5px;
}

#window-controls-wrapper[data-platform = "darwin"] > #close{
    background-color: #EF6A5F;
}

#window-controls-wrapper[data-platform = "darwin"] > #fullscreen{
    background-color: #61C957;
}

#window-controls-wrapper[data-platform = "darwin"] > #minimize{
    background-color: #F7BE4F;
}

#window-controls-wrapper.active{
    margin-top: 0 !important;
}

#window-controls-wrapper > .button{
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#window-controls-wrapper > .mac-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px;
}

#window-controls-wrapper > .button:hover{
    background-color: #505050;
}

#window-controls-wrapper > .button:hover:last-child{
    background-color: rgba(255, 0, 0, 0.712);
}

#window-controls-wrapper > .button > svg{
    width: 20px;
    height: 20px;
    margin: auto;
}

.notion-topbar > div:first-child{
    -webkit-app-region: drag;
}

.notion-topbar-action-buttons{
    -webkit-app-region: no-drag;
}

[style*="flex-shrink: 0; width: 48px; height: 48px; margin: -12px -6px -12px -12px; padding: 12px;"]{
    -webkit-app-region: no-drag;
}