:root {
  /* Dark */
  --dark-hue: 253;
  --dark: hsl(var(--dark-hue), 24%, 10%);
  --dark-1: hsl(var(--dark-hue), 24%, 14%);
  --dark-2: hsl(var(--dark-hue), 24%, 18%);
  --dark-3: hsl(var(--dark-hue), 24%, 22%);
  --dark-4: hsl(var(--dark-hue), 24%, 26%);
  --dark-5: hsl(var(--dark-hue), 24%, 30%);
  /* Primary */
  --primary-hue: 132;
  --primary: hsl(var(--primary-hue), 70%, 65%);
  --primary-1: hsl(var(--primary-hue), 70%, 55%);
  --primary-2: hsl(var(--primary-hue), 70%, 45%);
  --primary-3: hsl(var(--primary-hue), 70%, 35%);
  --primary-4: hsl(var(--primary-hue), 70%, 25%);
  --primary-5: hsl(var(--primary-hue), 70%, 15%);

  /* colors */
  --pink: hsl(326, 100%, 74%);
  --green: hsl(132, 70%, 65%);
  --purple: hsl(253, 35%, 66%);
  --purple-dark: hsl(257, 26%, 40%);
  --yellow: hsl(55, 70%, 69%);
  --blue: hsl(189, 64%, 68%);
  --white: hsl(240, 9%, 89%);
  --orange: hsl(26, 74%, 65%);
}

body.dark #notion-app .notion-sidebar {
  background-color: var(--dark-1) !important;
  color: #fff !important;
}

body.dark .notion-frame {
  background-color: var(--dark-2) !important;
}

body.dark .notion-scroller > div:nth-child(1) {
  color: #eee !important;
}

body.dark
  #notion-app
  > div
  > div
  > div.notion-sidebar-container
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(1),
body.dark
  #notion-app
  > div
  > div
  > div.notion-sidebar-container
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div:nth-child(5)
  > div:nth-child(1)
  > span
  > div
  > div
  > div:nth-child(2),
body.dark .notion-topbar {
  color: #fff !important;
  background-color: var(--dark-1) !important;
  border-bottom: 1px solid var(--primary-4);
}

body.dark .notion-frame .notion-selectable a {
  background: rgb(43, 43, 43) !important;
}

/* float page */

body.dark .notion-peek-renderer > div > div {
  background: var(--dark-2);
}

body.dark
  div.notion-overlay-container.notion-default-overlay-container
  > div:nth-child(2)
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(3) {
  background: transparent !important;
}

/* scrollbar */

body.dark .notion-scroller::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: var(--dark-1);
}

body.dark .notion-scroller::-webkit-scrollbar * {
  background: transparent;
}

body.dark .notion-scroller::-webkit-scrollbar-thumb {
  background: var(--primary-2) !important;
  cursor: pointer;
  border-radius: 1.6rem;
}

body.dark .notion-scroller::-webkit-scrollbar-track {
  background: var(--dark-1);
}

body.dark #notion-app .notion-topbar > div > div:nth-child(2) {
  display: none !important;
}

/* links clickable */

body.dark .notion-frame .notion-selectable a {
  background: var(--dark-1) !important;
}

/* help button */

body.dark
  #notion-app
  > div
  > div.notion-cursor-listener
  > div.notion-help-button {
  background: var(--dark-1) !important;
}

/* every style that has rgb(47, 52, 55) as bg */
[style*='background: rgb(47, 52, 55);'] {
  background: var(--dark-1) !important;
}

/* when hovering some elements */

[style*='background: rgb(71, 76, 80);'] {
  background: var(--dark-3) !important;
}

/* floating menu * floating options */
body.dark div[style*='rgb(55, 60, 63)'],
body.dark div[style*='rgb(63, 68, 71)'] {
  background-color: var(--dark-1) !important;
}

/* code block */
body.dark .notion-code-block {
  background: var(--dark-1) !important;
}

body.dark .notion-code-block .token.keyword,
body.dark .notion-code-block .token.operator,
body.dark .notion-code-block .token.unit,
body.dark .notion-code-block .token.tag,
body.dark .notion-code-block .token.selector,
body.dark .notion-code-block .token.important {
  color: var(--pink);
}

body.dark .notion-code-block .token.property {
  color: var(--purple);
}

body.dark .notion-code-block .token.comment {
  color: var(--purple-dark);
}

body.dark .notion-code-block .token.variable {
  color: var(--white);
}

body.dark .notion-code-block .token.parameter {
  color: var(--orange);
}

body.dark .notion-code-block .token.function,
body.dark .notion-code-block .token.attr-name,
body.dark .notion-code-block .token.punctuation.attr-equals {
  color: var(--green);
}

body.dark .notion-code-block .token.number {
  color: var(--blue);
}

body.dark .notion-code-block .token.string,
body.dark .notion-code-block .token.attr-value {
  color: var(--yellow);
}

/* colors */
body.dark [style*='color: rgb(226, 85, 161);'] {
  color: var(--pink) !important;
}

body.dark [style*='color: rgb(77, 171, 154);'] {
  color: var(--green) !important;
}

body.dark [style*='color: rgb(255, 163, 68);'] {
  color: var(--orange) !important;
}

body.dark [style*='color: rgb(255, 220, 73);'] {
  color: var(--yellow) !important;
}

body.dark [style*='color: rgb(82, 156, 202);'] {
  color: var(--blue) !important;
}

body.dark [style*='color: rgb(154, 109, 215);'] {
  color: var(--purple) !important;
}
